.button_add{
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Raleway';
    color: red;
  }
  
  .button_add:hover{
    color:#fff;
    background-color: rgb(126, 119, 119);
  }
  