@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.container_all{
  display: flex;
  justify-content: center;
}

#title {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  color: white;
  font-family: 'Raleway';
  font-size: 8vw;
  width: 100%;
} 
.container_todo {
  margin-top: 40px;
  /* height: 30vh; */
  width: 50%;
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.container_todo:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container_form{
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Raleway';
  width: 100%;
}

.container_form label{
  font-size: 20px;
  margin-top: 0;
}

.container_form input {
  margin: 20px 0;
  padding: 10px;
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}
/* 
.list_container{
  display: flex;
  justify-content: center;
} */